.single-post .postContent blockquote {
  border-left: 4px solid var(--post-main-color);
  color: var(--post-main-color);
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
}

#relatedPosts{
  background-color: rgba(18, 27, 54, 1); // $dark
  padding: 32px 0;
}