@import "@/styles/scss/myScss/_variables.scss";

.summaryBox {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .summaryLink {
    display: block;
    color: var(--color-white);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
    transition: all 0.2s ease;
    padding: 3px 0;
    border-left: 3px solid transparent;
    padding-left: 12px;
    font-size: 14px;

    &.level-2 {
      font-weight: 600;
    }

    &.level-3 {
      padding-left: 30px;
      font-weight: 500;
    }

    &.level-4 {
      padding-left: 45px;
      font-weight: 400;
    }
  }

  // Main colors - Utilise $main-colors de variables.scss
  @each $name, $color in $main-colors {
    &[data-main-color='#{$name}'] .summaryLink {
      &:hover,
      &.active {
        color: $color;
        border-left-color: $color;
      }
    }
  }

  .summaryLink.active {
    font-weight: 600;
  }
}
