

.summaryBox {
    ul {
        padding: 0;
        margin: 0;

        li {
            &.h2 {
                font-weight: 600;
                font-size: 16px;
            }

            &.h3 {
                font-weight: 600;
                font-size: 15px;
                padding-left: 8px;
            }

            &.h4 {
                font-weight: 400;
                font-size: 15px;
                padding-left: 12px;
            }

            &.h5 {
                font-weight: 400;
                font-size: 15px;
                opacity: 0.8;
                padding-left: 16px;
            }

            &.h6 {
                font-weight: 400;
                font-size: 14px;
                opacity: 0.8;
                padding-left: 20px;
            }
        }
    }
}

.summaryTitle{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: $pink;
}

.summaryBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .summaryLink {
        display: block;
        text-decoration: none;
        font-size: 14px;
        line-height: 1.4;
        transition: all 0.2s ease;
        padding: 3px 0;
        border-left: 3px solid rgba($primary, .2);
        padding-left: 12px;
        font-size: 14px;
        color: $ink;
        &.level-2 {
            font-weight: 600;
        }

        &.level-3 {
            padding-left: 20px;
            font-weight: 500;
        }

        &.level-4 {
            padding-left: 30px;
            font-weight: 400;
        }
    }


    .summaryLink.active {
        font-weight: 600;
        border-color: $primary;
        background-color: rgba($primary, .05);
        color: $ink;
    }
}

blockquote.post-quote{
    border-left: 4px solid $pink !important;
    background-color: rgba($primary, .1) !important;
    color: $pink !important;
        padding: 8px 8px 8px 16px;
    margin: 1.5rem 0;
    p{
        margin: 0;
    }
}