.box {
    padding: 24px;
    // border: 1px solid $borderU;
    border-radius: $mainBR;
    background-color: $dark;
}

.infraBox {
    height: 100%;
    padding: 24px;
    border-radius: $mainBR;
    background-color: white;
    transition: $trans;
}
.noInfraBox{
    .infraBox{
        padding: 0;
        border-radius: 0;
        background-color: transparent;
    }
}

.bg-primary{
    .infraBox{
        background-color: $ivory;
    }
    .noInfraBox{
        .infraBox{
            background-color: transparent !important;
        }
}
}
#main{
    > section{
        &.boxedWidth{
            &:not(:last-child){
                margin-bottom: 48px;

            }
        }
        &.fullWidth{
            + .boxedWidth{
                margin-top: 48px;
            }
            &:last-child{
                margin-bottom: -48px;
            }
        }
    }
}

