// Editorial New - Pour les headings
@font-face {
  font-family: 'Editorial New';
  src: url('/fonts/editorialNew/PPEditorialNew-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/fonts/editorialNew/PPEditorialNew-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/fonts/editorialNew/PPEditorialNew-Ultrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/fonts/editorialNew/PPEditorialNew-UltraboldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Neue Montreal - Pour le body
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neueMontreal/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neueMontreal/NeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neueMontreal/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neueMontreal/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

strong, b {
  font-weight: 500;
}
