form {
    fieldset {
        display: block;
        position: relative;
        overflow: hidden;
        &.inputField{
            label{
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                transition: $trans;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 8px;
            }
            input{
                &:not(:placeholder-shown),
                &:focus,
                &:active{
                    + label{
                        left: -100%;
                        opacity: 0 !important;
                    }
                }
            }
        }
        &.withText{
            label{
                position: absolute;
                height: 44px;
                width: 100%;
                top: 0;
                left: 0;
                transition: $trans;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 8px;
            }
            textarea{
                &:not(:placeholder-shown),
                &:focus,
                &:active{
                    + label{
                        left: -100%;
                        opacity: 0 !important;
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        input:not([type="radio"]):not([type="checkbox"]),
        textarea {
            border: 0;
            display: block;
            background-color: $black;
            border-radius: 0;
            width: 100%;
            outline: none !important;
            box-shadow: none !important;
            padding: 0 8px;
            color: $white;
            overflow: hidden;
            transition: $trans;

            &:focus,
            &:active {
                outline: none !important;
                box-shadow: none !important;

                &::placeholder {
                    opacity: 0;
                }
            }

            // Override autocomplete styles for all browsers
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 1000px $black inset !important;
                -webkit-text-fill-color: $white !important;
                box-shadow: 0 0 0 1000px $black inset !important;
                transition: background-color 5000s ease-in-out 0s;
            }
        }

        input:not([type="radio"]):not([type="checkbox"]) {
            height: 46px;
            line-height: 44px;

        }

        textarea {
            height: 100px;
            padding: 8px;

            &::placeholder {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                position: absolute;
                left: 8px;
                top: 16px;
                transform: translateY(-50%);
                transition: $trans;
            }

            &:focus::placeholder,
            &:active::placeholder {
                top: 0;
            }
        }

    }
}

// Styles communs pour inputRadioBox et inputCheckBox
.inputCheckBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 0 !important;

    label {
        font-weight: 500;
        color: $white;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        transition: $trans;
        &::before {
            background-color: $black;
            border-radius: 4px;
            content: "\f709";
            font-weight: 600;
            font-family: 'Nucleo';
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            min-width: 18px;
            max-width: 18px;
            height: 18px;
            color: $black;
            transition: $trans;
            font-size: 12px;
        }
    }

    input {
        display: none !important;
    }
}


// Boucle pour générer toutes les variantes de couleurs
form {
    @each $name, $color in $main-colors {
        &.color#{$name} {

            // Titres de formulaire prennent la couleur
            .formTitle {
                color: $color !important;
                transition: $trans;
                font-size: 24px;
                margin-bottom: 16px;
                
            }

            fieldset {
                &.withText,
                &.inputField{
                    label{
                        color: $color;
                    }
                    border-bottom: 2px solid rgba($color, 0.4);
                }
                &:focus-within,
                &:focus,
                &:active {
                    border-bottom-color: rgba($color, 1);
                }

            }

            .inputCheckBox{
                input{
                    &:checked{
                        + label{
                            &:before{
                                background-color: $color !important;
                                color: $white
                            }
                        }
                    }
                }
            }

            // Bouton submit prend le background de la couleur
            .btnSubmit {
                background-color: $color !important;
                color: $white !important;
                transition: $trans;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    // Exception pour colorSuccess et colorWarning : texte en dark sur le bouton
    &.colorSuccess,
    &.colorWarning {
        .btnSubmit {
            color: $dark !important;
        }
            input:checked+label.checkableLabel {
        &::before {
            color: $dark !important;
        }
    }
    }
}
