.titleWithSeparatorContainer {
    .separator{
        margin-left: 0;
    }

    .blocTitle {
        margin-bottom: 8px;
        line-height: 1.2;
        font-size: 22px;
        &.centered {
            justify-content: center;
            + .separator{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    p {
        margin: 0;
    }
}
